/* popup */
#wrapper {
    width: 200px; /* your desired width */
    height: 250px;
    position: relative;
}

/* Collecting Data */
.div1 {
    width: 200px;
    height: 100px; 
    position: absolute;
    padding: 70px 0;
    text-align: center;
}
/* Last Update */
.div2 {
    width: 200px;
    height: 100px; 
    position: absolute;
    padding: 60px 0;
    text-align: center;
}
/* buttons */
.btn-group button {
    background-color: lightgray; /* lightgray background */
    border: 1px solid black; /* black border */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 100px;
    height: 30px;
}
  
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
  
/* Add a background color on hover */
.btn-group button:hover {
    background-color: gray;
}

/* for Myschedule and GoSfu */
.instructor {
    position: relative;
    margin: auto; 
    font-weight: bold;      /* font weight of instructor's name */
    color: blue;          /* color of instructor's name */
}

.rating {
    text-align: left;
    color: black;
}

/* hover box properties */
.box {
    position: absolute;
    visibility: hidden;
    width: 150px;               
    height: 75px;                   /* hover box size */
    padding: 20px;
    background: #EEEEEE;          /* background colour of the hover box */
    border-radius: 12px;            /* border radius */
    border: #808080 solid 3px;    /* border colour and thickness */
    z-index: 2;                     /* to be in front of the schedule in myschedule */
    left: -160px;                   /* position of hover box */
    top: -140px;
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;    /* first number: how fast it appears, 
                                                                        second number: how fast it moves diagonally 
                                                                        same number recommended */
    opacity: 0;
    transform: scale(0.95) translateY(1em) translateX(1em);          /* first number: how big the hoverbox starts 
                                                                        second and third number: how far it moves left and up */
}

/* hover box tail properties */
.box:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;                  /* tail of the hover box 
                                                   first number: length, second number width */
    border-color: #EEEEEE transparent;        /* same colour as the background */
    display: block;
    width: 0;
    z-index: 3;
    bottom: -10px;            /* position of the tail */
    left: 155px;
    
}

/* hover box tail border properties */
.box:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 0;        /* tail border (border-with of tail) + (border +- 1) */
    border-color: #808080 transparent;
    display: block;
    width: 0;
    z-index: 2;
    bottom: -15px;            /* has to have a right porportion with position of the tail */
    left: 153px;
}

.box2 {                             /* if 2 professors */
    position: absolute;
    visibility: hidden;
    width: 150px;               
    height: 170px;                  /* hover box size */
    padding: 20px;
    background: #EEEEEE;          /* background colour of the hover box */
    border-radius: 12px;            /* border radius */
    border: #808080 solid 3px;    /* border colour and thickness */
    z-index: 2;                     /* to be in front of the schedule in myschedule */
    left: -160px;                   /* position of hover box */
    top: -235px;
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;    /* first number: how fast it appears, 
                                                                        second number: how fast it moves diagonally 
                                                                        same number recommended */
    opacity: 0;
    transform: scale(0.95) translateY(1em) translateX(1em);          /* first number: how big the hoverbox starts
                                                                        second and third number: how far it moves left and up */
}

/* hover box tail properties */
.box2:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;                  /* tail of the hover box 
                                                   first number: length, second number width */
    border-color: #EEEEEE transparent;        /* same colour as the background */
    display: block;
    width: 0;
    z-index: 3;
    bottom: -10px;            /* position of the tail */
    left: 155px;
    
}

/* hover box tail border properties */
.box2:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 0;        /* tail border (border-with of tail) + (border +- 1) */
    border-color: #808080 transparent;
    display: block;
    width: 0;
    z-index: 2;
    bottom: -15px;            /* has to have a right porportion with position of the tail */
    left: 153px;
}

.instructor:hover{
    background-color: yellow;   /* highlight colour of instructor name when hover */
}

/* shows hover box */
.instructor:hover .box {
    visibility: visible;
    opacity: 1;
    transform: none;
    transition-duration: 0.3s, 0.8s;    /* speed of transition */
}

.instructor:hover .box2 {
    visibility: visible;
    opacity: 1;
    transform: none;
    transition-duration: 0.3s, 0.8s;    /* speed of transition */
}

/* only for myschedule */
.reg_legend {
    display: inline !important;
}

.timetable_part {
    z-index: 1;
}

#loading {
    margin-right: 0.5em;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    width: 1em;
    height: 1em;
    animation: spin 1s linear infinite;
    display: none;
}
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
}