#changeColor {
    width: 30px;
    height: 30px;
    background-color: red;
}

.instructor {
    position: relative;
    margin: auto; 
  }
  
.instructor .box {
    visibility: hidden;

    width: 150px;
    height: 75px;
    border-radius: 5px;

    background-color: black;
    color: #fff;

    text-align: center;
    
    padding: 20px 0;
    position: absolute;   
    z-index: 5;

    bottom: 120%; left: 5%;
}
  
.instructor:hover .box {
    visibility: visible;      
}



  